<div class="grid-2">
  <app-card
    iconCard="/assets/icons/icon-hand.png"
    textCard="Saldos Disponíveis"
    valueCard="100"
  >
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
  </app-card>

  <app-card
    iconCard="/assets/icons/icon-debit-card.png"
    textCard="meu texto"
    valueCard="500"
  >
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
    <div class="between">
      <span>Conta corrente</span>
      <span>{{ 200 | currency : "BRL" }} </span>
    </div>
    <span class="linha"></span>
  </app-card>
</div>
