<!-- <input [type]="inputType" id="meu-input" [value]="inputText" [disabled]="isDisabled" (keyup)="handleKeyUp($event)">


<button (click)="disabledInput()" [style.color]="'red'">desabilitar</button>
<button (click)="enabledInput()">habilitar</button>
<button (click)="mudarTipo()">mudar tipo</button>


<button [attr.title]="buttonTitle" [style.fontSize]="'50px'" [class]="isActive ? 'corVerde' : null">title</button>
<button [attr.disabled]="buttonDisabled ? true : null">disabled</button>

<button (click)="mudarStatus()">Ativar classe</button> -->


<!-- TWO WAY DATA BINDING -->

<h1>Nome: {{ valueInput.name }}</h1>
<input type="text" [(ngModel)]="valueInput.name">
<h1>Senha: {{ valueInput.senha }}</h1>
<input type="password" [(ngModel)]="valueInput.senha">

<!-- <div *ngIf="isActive; else templateElse">DIV PARA NGIF</div> -->
<ng-template #templateElse>
  <div>
    {{'DIV ORIGINAL' | lowercase}}
  </div>
</ng-template><ng-template #templateElse2>
  <div>
    {{'div false' | uppercase}}
  </div>
</ng-template>

<ng-container *ngIf="isActive; then templateElse; else templateElse2"></ng-container>

<div>
  <button (click)="mudarStatus()">ativar div</button>
</div>


<h1>começando pipes</h1>


<h2>{{ pessoa | json }}</h2>


<app-person></app-person>
