.corVerde {
  background-color: chartreuse;
  cursor: pointer;
}

.corPurple {
  background-color: purple;
  color: white;
  cursor: pointer;
}

.highlight {
  background-color: brown;
}


.active {
  background-color: darkgreen;
  color: white;
}
.blocked {
  background-color: red;
  color: white;

}
.partial {
  background-color: cadetblue;
  color: white;

}