<div class="div-form">
    <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input type="search" matInput [(ngModel)]="valuesInput.name">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Selecione a data</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Data Inicial">
          <input matEndDate placeholder="Data Final">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    
    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="valuesInput.status">
          <mat-option value="ativo">Ativo</mat-option>
          <mat-option value="inativo">Inativo</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="filter()">Filtrar</button>
</div>