<div class="div-form">
    <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input type="search" matInput>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <mat-label>Data de Cadastro</mat-label>
        <input matInput>
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="ativo">Ativo</mat-option>
          <mat-option value="inativo">Inativo</mat-option>
        </mat-select>
    </mat-form-field>


    <button mat-raised-button color="primary">Filtrar</button>
</div>